<a target="_blank" href="https://colab.research.google.com/github/robgen/HEDSpython/blob/main/merge_dataframes.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

To get started with your projects make sure your data files are all stored into the same folder in your Google Drive.

Run the below commands after you have created a folder in My Drive called "Assessment2" and uploaded my .csv files there (you can find the .csv files in the files folder on GitHub). You can call this folder differently if you want, but in that case, make sure you rename it in the code below as well (i.e., change Assessment2 to the desired name).

The first thing we need to do is to make sure we are running the code from inside the folder where our data is. To do this, we mount our drive and then set the desired folder (Assessment2) as the "starting location" using the `%cd` command (cd stands for change directory)

FILE NAMES:

*   "GSDP_Current_2011-12_State_wise - GSDP_Current_2011-12_State_wise.csv"
*   "hdx_hapi_poverty_rate_ind - hdx_hapi_poverty_rate_ind.csv"

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/Assessment2

/content/drive/MyDrive/Assessment2

With `!pwd` we can print the current working directory to make sure we are in the right place.

In [3]:
!pwd

/content/drive/MyDrive/Assessment2

We then import Pandas as usual and load our .csv files as Pandas Data Frames.

In [37]:
import pandas as pd

In [38]:
df_gdp = pd.read_csv("GSDP_Current_2011-12_State_wise - GSDP_Current_2011-12_State_wise.csv")

In [39]:
df_gdp

,State/Uts,GSDP-Curr-2011-12(Cr),GSDP-Curr-2012-13(Cr),GSDP-Curr-2013-14(Cr),GSDP-Curr-2014-15(Cr),GSDP-Curr-2015-16(Cr),GSDP-Curr-2016-17(Cr),GSDP-Curr-2017-18(Cr),GSDP-Curr-2018-19(Cr),GSDP-Curr-2019-20(Cr),...,% Growth2012-13,% Growth2013-14,% Growth2014-15,% Growth2015-16,% Growth2016-17,% Growth2017-18,% Growth2018-19,% Growth2019-20,% Growth2020-21,% Growth2021-22
0,Andhra Pradesh,379402.03,411403.71,464272.01,524975.64,604228.62,684415.87,786135.42,873721.11,966099.05,...,8.43,12.85,13.08,15.10,13.27,14.86,11.14,10.57,5.00,18.47
1,Arunachal Pradesh,11062.69,12546.62,14581.07,17959.41,18509.16,19902.12,22474.78,25330.85,27884.63,...,13.41,16.22,23.17,3.06,7.53,12.93,12.71,10.08,6.49,NaN
2,Assam,143174.91,156864.24,177745.22,195723.15,227958.83,254382.36,283164.89,309336.32,377404.81,...,9.56,13.31,10.11,16.47,11.59,11.31,9.24,22.00,0.95,13.89
3,Bihar,247143.96,282367.93,317101.34,342950.94,371601.79,421051.50,468746.31,527975.82,594016.40,...,14.25,12.30,8.15,8.35,13.31,11.33,12.64,12.51,4.14,NaN
4,Chhattisgarh,158073.82,177511.33,206833.18,221118.11,225162.99,262801.75,282283.44,318101.13,344955.35,...,12.30,16.52,6.91,1.83,16.72,7.41,12.69,8.44,1.54,NaN
5,Goa,42366.66,38120.02,35921.10,47814.18,55053.85,62976.31,69352.05,71853.34,74828.37,...,-10.02,-5.77,33.11,15.14,14.39,10.12,3.61,4.14,4.69,8.99
6,Gujarat,615606.07,724495.36,807623.19,921773.15,1029009.74,1167155.58,1329094.77,1492155.71,1629638.12,...,17.69,11.47,14.13,11.63,13.43,13.87,12.27,9.21,1.61,NaN
7,Haryana,297538.52,347032.01,399268.12,437144.71,495504.11,561424.17,638832.08,698188.88,762043.60,...,16.63,15.05,9.49,13.35,13.30,13.79,9.29,9.15,-0.46,18.08
8,Himachal Pradesh,72719.83,82819.79,94764.15,103772.32,114239.41,125633.64,138551.09,148383.27,159161.70,...,13.89,14.42,9.51,10.09,9.97,10.28,7.10,7.26,-1.56,11.81
9,Jammu & Kashmir*,78255.55,87137.73,95618.74,98366.75,117167.95,124848.00,139708.86,159859.45,NaN,...,11.35,9.73,2.87,19.11,6.55,11.90,14.42,NaN,NaN,NaN
10,Jharkhand,150917.59,174723.69,188566.71,218525.17,206612.80,236249.72,269816.14,305695.20,321157.31,...,15.77,7.92,15.89,-5.45,14.34,14.21,13.30,5.06,-1.27,NaN
11,Karnataka,606009.81,695413.05,816666.15,913923.03,1045168.10,1207607.72,1333240.00,1476496.28,1615456.53,...,14.75,17.44,11.91,14.36,15.54,10.40,10.74,9.41,7.15,18.39
12,Kerala,364047.88,412313.00,465041.21,512564.05,561993.61,634886.40,701588.26,788285.58,824374.20,...,13.26,12.79,10.22,9.64,12.97,10.51,12.36,4.58,-3.01,12.81
13,Madhya Pradesh,315561.59,380924.80,439483.44,479939.04,541067.51,649822.81,726283.92,831023.88,938602.13,...,20.71,15.37,9.21,12.74,20.10,11.77,14.42,12.95,4.01,19.74
14,Maharashtra,1280369.44,1459628.63,1649646.63,1779137.93,1966224.58,2198185.15,2352781.50,2567897.06,2734551.53,...,14.00,13.02,7.85,10.52,11.80,7.03,9.14,6.49,-0.84,NaN
15,Manipur,12914.60,13743.24,16182.04,18129.05,19530.67,21293.89,25789.23,27388.07,31297.02,...,6.42,17.75,12.03,7.73,9.03,21.11,6.20,14.27,8.99,NaN
16,Meghalaya,19917.75,21872.02,22938.24,23234.53,25117.36,27438.62,29508.30,32175.82,34715.70,...,9.81,4.87,1.29,8.10,9.24,7.54,9.04,7.89,-3.69,12.14
17,Mizoram,7258.69,8361.93,10293.37,13509.40,15138.86,17191.91,19385.33,21912.08,25230.24,...,15.20,23.10,31.24,12.06,13.56,12.76,13.03,15.14,15.79,NaN
18,Nagaland,12176.76,14121.27,16611.73,18400.67,19523.95,21722.45,24392.96,26527.42,29612.43,...,15.97,17.64,10.77,6.10,11.26,12.29,8.75,11.63,-0.24,NaN
19,Odisha,230987.08,261699.60,296475.38,314249.95,328549.50,392803.67,440974.79,498576.56,546413.53,...,13.30,13.29,6.00,4.55,19.56,12.26,13.06,9.59,-0.64,17.58
20,Punjab,266628.27,297733.82,332146.94,355101.82,390087.44,426988.10,471013.61,512509.69,540223.75,...,11.67,11.56,6.91,9.85,9.46,10.31,8.81,5.41,0.24,10.19
21,Rajasthan,434836.64,493551.24,551031.02,615641.56,681482.26,760587.27,832529.23,911674.14,999050.36,...,13.50,11.65,11.73,10.69,11.61,9.46,9.51,9.58,1.43,18.04
22,Sikkim,11165.10,12338.42,13861.90,15406.72,18033.94,20687.19,25970.82,28402.43,30808.99,...,10.51,12.35,11.14,17.05,14.71,25.54,9.36,8.47,6.22,14.67
23,Tamil Nadu,751485.76,854825.35,968530.45,1072677.97,1176500.03,1302638.58,1465050.91,1630209.15,1797228.72,...,13.75,13.30,10.75,9.68,10.72,12.47,11.27,10.25,5.87,14.56
24,Telangana,359434.11,401593.61,451580.40,505848.79,577902.06,658325.34,750050.28,857427.15,948355.90,...,11.73,12.45,12.02,14.24,13.92,13.93,14.32,10.60,2.25,19.10
25,Tripura,19208.41,21663.20,25592.83,29533.46,35937.73,39479.40,43715.80,49823.32,55856.94,...,12.78,18.14,15.40,21.68,9.86,10.73,13.97,12.11,5.41,16.45
26,Uttar Pradesh,724050.44,822392.92,940356.43,1011789.66,1137807.94,1288700.23,1439706.45,1582853.12,1710495.80,...,13.58,14.34,7.60,12.45,13.26,11.72,9.94,8.06,0.41,11.22
27,Uttarakhand,115327.57,131612.84,149074.39,161438.92,177163.02,195124.85,220222.13,230284.55,236693.94,...,14.12,13.27,8.29,9.74,10.14,12.86,4.57,2.78,-3.92,NaN
28,West Bengal,520485.05,591464.45,676848.06,718081.66,797299.80,872527.23,974699.78,1102282.75,1207822.61,...,13.64,14.44,6.09,11.03,9.44,11.71,13.09,9.57,7.72,NaN
29,Andaman & Nicobar Islands,3978.43,4421.18,5022.63,5477.22,6031.73,6835.87,7890.41,9003.18,9719.23,...,11.13,13.60,9.05,10.12,13.33,15.43,14.10,7.95,NaN,NaN
30,Chandigarh,18768.15,21608.56,24821.72,26548.56,29275.07,32426.66,36344.35,40139.40,43984.19,...,15.13,14.87,6.96,10.27,10.77,12.08,10.44,9.58,-5.38,NaN
31,Delhi,343797.50,391387.64,443959.89,494803.02,550803.70,616085.06,677900.04,738389.43,794030.05,...,13.84,13.43,11.45,11.32,11.85,10.03,8.92,7.54,-1.09,NaN
32,Jammu & Kashmir-U.T.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,169878.82,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.23,12.16
33,Puducherry,16818.01,18875.45,21870.12,22573.96,26616.54,29572.66,32128.80,36385.62,37817.95,...,12.23,15.87,3.22,17.91,11.11,8.64,13.25,3.94,-1.62,2.90

In [40]:
df_food = pd.read_csv("hdx_hapi_poverty_rate_ind - hdx_hapi_poverty_rate_ind.csv")

In [41]:
df_food

,location_code,has_hrp,in_gho,provider_admin1_name,admin1_code,admin1_name,admin_level,mpi,headcount_ratio,intensity_of_deprivation,vulnerable_to_poverty,in_severe_poverty,reference_period_start,reference_period_end
0,#country+code,#meta+has_hrp,#meta+in_gho,#adm1+name+provider,#adm1+code,#adm1+name,#adm+level,#indicator+mpi,#indicator+headcount_ratio,#indicator+intensity_of_deprivation,#indicator+vulnerable_to_poverty,#indicator+in_severe_poverty,#date+start,#date+end
1,IND,FALSE,FALSE,NaN,NaN,NaN,0,0.2827,55.0742,51.3271,17.0205,27.7771,2005-01-01,2006-12-31
2,IND,FALSE,FALSE,NaN,NaN,NaN,0,0.1217,27.6781,43.9622,18.9196,8.7151,2015-01-01,2016-12-31
3,IND,FALSE,FALSE,NaN,NaN,NaN,0,0.0688,16.3928,41.9761,18.6869,4.2454,2019-01-01,2021-12-31
4,IND,FALSE,FALSE,Andaman & Nicobar Islands,NaN,NaN,1,0.0142,3.6708,38.6353,10.1618,0.4575,2019-01-01,2021-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,IND,FALSE,FALSE,Uttarakhand,NaN,NaN,1,0.0719,17.2125,41.7477,19.4276,3.9146,2015-01-01,2016-12-31
94,IND,FALSE,FALSE,Uttarakhand,NaN,NaN,1,0.0391,9.811,39.8766,16.1711,1.5089,2019-01-01,2021-12-31
95,IND,FALSE,FALSE,West Bengal,NaN,NaN,1,0.3019,57.9645,52.0805,16.3538,31.0786,2005-01-01,2006-12-31
96,IND,FALSE,FALSE,West Bengal,NaN,NaN,1,0.1097,26.1638,41.9144,19.8294,7.0784,2015-01-01,2016-12-31
97,IND,FALSE,FALSE,West Bengal,NaN,NaN,1,0.0607,15.2707,39.7277,20.2134,2.8258,2019-01-01,2021-12-31

Since we have two dataframes, we want to merge by a common column. Since observations are reported by state, we can merge the two dataframes by the state column which they have in common.

However, if we first look at the shape of the dataframes we can see that df_food has 98 rows while df_gdp has 34 rows. We want one entry per state so we need to check that this is the case for df_gdp and the df_food.

In [42]:
df_gdp.shape

(34, 22)

In [43]:
df_food.shape

(98, 14)

If we look at df_food, we cans see that it reports observations for three different periods (starting 2005, 2015 and 2019). We select only observation reported from 2019.

In [44]:
df_food = df_food[df_food["reference_period_start"] == "2019-01-01"]

In [45]:
df_food

,location_code,has_hrp,in_gho,provider_admin1_name,admin1_code,admin1_name,admin_level,mpi,headcount_ratio,intensity_of_deprivation,vulnerable_to_poverty,in_severe_poverty,reference_period_start,reference_period_end
3,IND,FALSE,FALSE,NaN,NaN,NaN,0,0.0688,16.3928,41.9761,18.6869,4.2454,2019-01-01,2021-12-31
4,IND,FALSE,FALSE,Andaman & Nicobar Islands,NaN,NaN,1,0.0142,3.6708,38.6353,10.1618,0.4575,2019-01-01,2021-12-31
7,IND,FALSE,FALSE,Andhra Pradesh,NaN,NaN,1,0.0278,7.1138,39.1028,16.0771,0.9091,2019-01-01,2021-12-31
10,IND,FALSE,FALSE,Arunachal Pradesh,NaN,NaN,1,0.0541,13.2061,40.9441,18.4609,2.7448,2019-01-01,2021-12-31
13,IND,FALSE,FALSE,Assam,NaN,NaN,1,0.0899,21.4105,41.9974,21.6924,5.4333,2019-01-01,2021-12-31
16,IND,FALSE,FALSE,Bihar,NaN,NaN,1,0.1544,34.6609,44.5458,19.9787,13.1912,2019-01-01,2021-12-31
17,IND,FALSE,FALSE,Chandigarh,NaN,NaN,1,0.0178,3.9426,45.1799,6.94,1.183,2019-01-01,2021-12-31
20,IND,FALSE,FALSE,Chhattisgarh,NaN,NaN,1,0.0732,17.8848,40.9144,24.0007,3.7308,2019-01-01,2021-12-31
21,IND,FALSE,FALSE,Dadra & Nagar Haveli and Daman & Diu,NaN,NaN,1,0.0559,14.2685,39.173,19.3786,2.412,2019-01-01,2021-12-31
24,IND,FALSE,FALSE,Delhi,NaN,NaN,1,0.0134,3.3543,39.9122,7.1893,0.489,2019-01-01,2021-12-31
27,IND,FALSE,FALSE,Goa,NaN,NaN,1,0.0053,1.3938,38.2264,6.3891,0.1361,2019-01-01,2021-12-31
30,IND,FALSE,FALSE,Gujarat,NaN,NaN,1,0.059,14.4022,40.9834,17.7388,3.0165,2019-01-01,2021-12-31
33,IND,FALSE,FALSE,Haryana,NaN,NaN,1,0.0298,7.1746,41.5452,17.9088,1.5933,2019-01-01,2021-12-31
36,IND,FALSE,FALSE,Himachal Pradesh,NaN,NaN,1,0.0204,5.3103,38.3324,17.4194,0.6345,2019-01-01,2021-12-31
39,IND,FALSE,FALSE,Jammu & Kashmir,NaN,NaN,1,0.0249,6.2595,39.7527,11.1951,1.0051,2019-01-01,2021-12-31
42,IND,FALSE,FALSE,Jharkhand,NaN,NaN,1,0.1318,30.603,43.0699,22.5427,9.1473,2019-01-01,2021-12-31
45,IND,FALSE,FALSE,Karnataka,NaN,NaN,1,0.0333,8.4979,39.2263,17.9722,1.2819,2019-01-01,2021-12-31
48,IND,FALSE,FALSE,Kerala,NaN,NaN,1,0.0031,0.8575,35.7243,8.6407,0.0303,2019-01-01,2021-12-31
49,IND,FALSE,FALSE,Ladakh,NaN,NaN,1,0.0244,6.5118,37.4463,13.4617,0.8008,2019-01-01,2021-12-31
50,IND,FALSE,FALSE,Lakshadweep,NaN,NaN,1,0.0033,0.8826,36.9724,14.3035,0,2019-01-01,2021-12-31
53,IND,FALSE,FALSE,Madhya Pradesh,NaN,NaN,1,0.0994,23.9625,41.4887,22.1937,5.4665,2019-01-01,2021-12-31
56,IND,FALSE,FALSE,Maharashtra,NaN,NaN,1,0.0357,8.9881,39.7104,16.9318,1.3985,2019-01-01,2021-12-31
59,IND,FALSE,FALSE,Manipur,NaN,NaN,1,0.0383,9.6714,39.6491,17.4012,1.3776,2019-01-01,2021-12-31
62,IND,FALSE,FALSE,Meghalaya,NaN,NaN,1,0.123,27.0191,45.5298,20.0199,10.3066,2019-01-01,2021-12-31
65,IND,FALSE,FALSE,Mizoram,NaN,NaN,1,0.0246,5.7504,42.7607,9.1095,1.7597,2019-01-01,2021-12-31
68,IND,FALSE,FALSE,Nagaland,NaN,NaN,1,0.066,17.0562,38.706,15.4829,2.8929,2019-01-01,2021-12-31
71,IND,FALSE,FALSE,Odisha,NaN,NaN,1,0.0863,20.8,41.5128,19.4307,5.1679,2019-01-01,2021-12-31
72,IND,FALSE,FALSE,Puducherry,NaN,NaN,1,0.0052,1.4224,36.6496,6.7816,0.0423,2019-01-01,2021-12-31
75,IND,FALSE,FALSE,Punjab,NaN,NaN,1,0.0188,4.7077,39.9954,12.2023,0.7273,2019-01-01,2021-12-31
78,IND,FALSE,FALSE,Rajasthan,NaN,NaN,1,0.0679,16.5691,41.0065,22.7726,3.6461,2019-01-01,2021-12-31
81,IND,FALSE,FALSE,Sikkim,NaN,NaN,1,0.014,3.6746,38.1001,9.6617,0.4811,2019-01-01,2021-12-31
84,IND,FALSE,FALSE,Tamil Nadu,NaN,NaN,1,0.0142,3.8376,36.9201,12.6557,0.2207,2019-01-01,2021-12-31
85,IND,FALSE,FALSE,Telangana,NaN,NaN,1,0.0265,6.778,39.1221,16.9551,0.8137,2019-01-01,2021-12-31
88,IND,FALSE,FALSE,Tripura,NaN,NaN,1,0.0635,15.7,40.429,20.6966,2.8284,2019-01-01,2021-12-31
91,IND,FALSE,FALSE,Uttar Pradesh,NaN,NaN,1,0.0983,22.9387,42.833,21.4781,6.5851,2019-01-01,2021-12-31
94,IND,FALSE,FALSE,Uttarakhand,NaN,NaN,1,0.0391,9.811,39.8766,16.1711,1.5089,2019-01-01,2021-12-31
97,IND,FALSE,FALSE,West Bengal,NaN,NaN,1,0.0607,15.2707,39.7277,20.2134,2.8258,2019-01-01,2021-12-31

We check how many unique values are in the State/Uts column of the df_gdp dataframe and if this value is the same as the number of rows.

In [47]:
states_gdp = df_gdp["State/Uts"].unique().tolist()
len(states_gdp)

34

It is!

We check the same for the provider_admin1_name column in the df_food dataframe

In [51]:
states_food = df_food["provider_admin1_name"].unique().tolist()
len(states_food)

36

This isn't. There are a few more unique values in this case so we see if there may be any odd ones.

With the code below we check which values are in one unique state list and not the other.

In [49]:
# Convert lists to sets
set_food = set(states_food)
set_gdp = set(states_gdp)

# Find elements in states_food but not in states_gdp
food_not_in_gdp = list(set_food - set_gdp)

# Find elements in states_gdp but not in states_food
gdp_not_in_food = list(set_gdp - set_food)

# Print the results
print("States in food data but not in GDP data:", food_not_in_gdp)
print("States in GDP data but not in food data:", gdp_not_in_food)

States in food data but not in GDP data: ['Ladakh', nan, 'Jammu & Kashmir', 'Dadra & Nagar Haveli and Daman & Diu', 'Lakshadweep']
States in GDP data but not in food data: ['Jammu & Kashmir-U.T.', 'Jammu & Kashmir*']

First, drop na values found in the 'provider_admin1_name' column.

In [50]:
df_food = df_food.dropna(subset=['provider_admin1_name'])

Then, we choose a common denomination for Jammu & Kashmir.

In [ ]:
df_gdp[(df_gdp["State/Uts"] == "Jammu & Kashmir*") | (df_gdp["State/Uts"] == "Jammu & Kashmir-U.T.")]

,State/Uts,GSDP-Curr-2011-12(Cr),GSDP-Curr-2012-13(Cr),GSDP-Curr-2013-14(Cr),GSDP-Curr-2014-15(Cr),GSDP-Curr-2015-16(Cr),GSDP-Curr-2016-17(Cr),GSDP-Curr-2017-18(Cr),GSDP-Curr-2018-19(Cr),GSDP-Curr-2019-20(Cr),...,% Growth2012-13,% Growth2013-14,% Growth2014-15,% Growth2015-16,% Growth2016-17,% Growth2017-18,% Growth2018-19,% Growth2019-20,% Growth2020-21,% Growth2021-22
9,Jammu & Kashmir*,78255.55,87137.73,95618.74,98366.75,117167.95,124848.0,139708.86,159859.45,NaN,...,11.35,9.73,2.87,19.11,6.55,11.9,14.42,NaN,NaN,NaN
32,Jammu & Kashmir-U.T.,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,169878.82,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,3.23,12.16

It looks like `Jammu & Kashmir*` contains some data while `Jammu & Kashmir-U.T.` does not so we rename `Jammu & Kashmir*` and drop `Jammu & Kashmir-U.T.`.

In [ ]:
df_gdp.loc[df_gdp["State/Uts"] == "Jammu & Kashmir*", "State/Uts"] = "Jammu & Kashmir"

In [ ]:
df_gdp = df_gdp[~(df_gdp["State/Uts"] == "Jammu & Kashmir-U.T.")]

In [ ]:
df_gdp

,State/Uts,GSDP-Curr-2011-12(Cr),GSDP-Curr-2012-13(Cr),GSDP-Curr-2013-14(Cr),GSDP-Curr-2014-15(Cr),GSDP-Curr-2015-16(Cr),GSDP-Curr-2016-17(Cr),GSDP-Curr-2017-18(Cr),GSDP-Curr-2018-19(Cr),GSDP-Curr-2019-20(Cr),...,% Growth2012-13,% Growth2013-14,% Growth2014-15,% Growth2015-16,% Growth2016-17,% Growth2017-18,% Growth2018-19,% Growth2019-20,% Growth2020-21,% Growth2021-22
0,Andhra Pradesh,379402.03,411403.71,464272.01,524975.64,604228.62,684415.87,786135.42,873721.11,966099.05,...,8.43,12.85,13.08,15.10,13.27,14.86,11.14,10.57,5.00,18.47
1,Arunachal Pradesh,11062.69,12546.62,14581.07,17959.41,18509.16,19902.12,22474.78,25330.85,27884.63,...,13.41,16.22,23.17,3.06,7.53,12.93,12.71,10.08,6.49,NaN
2,Assam,143174.91,156864.24,177745.22,195723.15,227958.83,254382.36,283164.89,309336.32,377404.81,...,9.56,13.31,10.11,16.47,11.59,11.31,9.24,22.00,0.95,13.89
3,Bihar,247143.96,282367.93,317101.34,342950.94,371601.79,421051.50,468746.31,527975.82,594016.40,...,14.25,12.30,8.15,8.35,13.31,11.33,12.64,12.51,4.14,NaN
4,Chhattisgarh,158073.82,177511.33,206833.18,221118.11,225162.99,262801.75,282283.44,318101.13,344955.35,...,12.30,16.52,6.91,1.83,16.72,7.41,12.69,8.44,1.54,NaN
5,Goa,42366.66,38120.02,35921.10,47814.18,55053.85,62976.31,69352.05,71853.34,74828.37,...,-10.02,-5.77,33.11,15.14,14.39,10.12,3.61,4.14,4.69,8.99
6,Gujarat,615606.07,724495.36,807623.19,921773.15,1029009.74,1167155.58,1329094.77,1492155.71,1629638.12,...,17.69,11.47,14.13,11.63,13.43,13.87,12.27,9.21,1.61,NaN
7,Haryana,297538.52,347032.01,399268.12,437144.71,495504.11,561424.17,638832.08,698188.88,762043.60,...,16.63,15.05,9.49,13.35,13.30,13.79,9.29,9.15,-0.46,18.08
8,Himachal Pradesh,72719.83,82819.79,94764.15,103772.32,114239.41,125633.64,138551.09,148383.27,159161.70,...,13.89,14.42,9.51,10.09,9.97,10.28,7.10,7.26,-1.56,11.81
9,Jammu & Kashmir,78255.55,87137.73,95618.74,98366.75,117167.95,124848.00,139708.86,159859.45,NaN,...,11.35,9.73,2.87,19.11,6.55,11.90,14.42,NaN,NaN,NaN
10,Jharkhand,150917.59,174723.69,188566.71,218525.17,206612.80,236249.72,269816.14,305695.20,321157.31,...,15.77,7.92,15.89,-5.45,14.34,14.21,13.30,5.06,-1.27,NaN
11,Karnataka,606009.81,695413.05,816666.15,913923.03,1045168.10,1207607.72,1333240.00,1476496.28,1615456.53,...,14.75,17.44,11.91,14.36,15.54,10.40,10.74,9.41,7.15,18.39
12,Kerala,364047.88,412313.00,465041.21,512564.05,561993.61,634886.40,701588.26,788285.58,824374.20,...,13.26,12.79,10.22,9.64,12.97,10.51,12.36,4.58,-3.01,12.81
13,Madhya Pradesh,315561.59,380924.80,439483.44,479939.04,541067.51,649822.81,726283.92,831023.88,938602.13,...,20.71,15.37,9.21,12.74,20.10,11.77,14.42,12.95,4.01,19.74
14,Maharashtra,1280369.44,1459628.63,1649646.63,1779137.93,1966224.58,2198185.15,2352781.50,2567897.06,2734551.53,...,14.00,13.02,7.85,10.52,11.80,7.03,9.14,6.49,-0.84,NaN
15,Manipur,12914.60,13743.24,16182.04,18129.05,19530.67,21293.89,25789.23,27388.07,31297.02,...,6.42,17.75,12.03,7.73,9.03,21.11,6.20,14.27,8.99,NaN
16,Meghalaya,19917.75,21872.02,22938.24,23234.53,25117.36,27438.62,29508.30,32175.82,34715.70,...,9.81,4.87,1.29,8.10,9.24,7.54,9.04,7.89,-3.69,12.14
17,Mizoram,7258.69,8361.93,10293.37,13509.40,15138.86,17191.91,19385.33,21912.08,25230.24,...,15.20,23.10,31.24,12.06,13.56,12.76,13.03,15.14,15.79,NaN
18,Nagaland,12176.76,14121.27,16611.73,18400.67,19523.95,21722.45,24392.96,26527.42,29612.43,...,15.97,17.64,10.77,6.10,11.26,12.29,8.75,11.63,-0.24,NaN
19,Odisha,230987.08,261699.60,296475.38,314249.95,328549.50,392803.67,440974.79,498576.56,546413.53,...,13.30,13.29,6.00,4.55,19.56,12.26,13.06,9.59,-0.64,17.58
20,Punjab,266628.27,297733.82,332146.94,355101.82,390087.44,426988.10,471013.61,512509.69,540223.75,...,11.67,11.56,6.91,9.85,9.46,10.31,8.81,5.41,0.24,10.19
21,Rajasthan,434836.64,493551.24,551031.02,615641.56,681482.26,760587.27,832529.23,911674.14,999050.36,...,13.50,11.65,11.73,10.69,11.61,9.46,9.51,9.58,1.43,18.04
22,Sikkim,11165.10,12338.42,13861.90,15406.72,18033.94,20687.19,25970.82,28402.43,30808.99,...,10.51,12.35,11.14,17.05,14.71,25.54,9.36,8.47,6.22,14.67
23,Tamil Nadu,751485.76,854825.35,968530.45,1072677.97,1176500.03,1302638.58,1465050.91,1630209.15,1797228.72,...,13.75,13.30,10.75,9.68,10.72,12.47,11.27,10.25,5.87,14.56
24,Telangana,359434.11,401593.61,451580.40,505848.79,577902.06,658325.34,750050.28,857427.15,948355.90,...,11.73,12.45,12.02,14.24,13.92,13.93,14.32,10.60,2.25,19.10
25,Tripura,19208.41,21663.20,25592.83,29533.46,35937.73,39479.40,43715.80,49823.32,55856.94,...,12.78,18.14,15.40,21.68,9.86,10.73,13.97,12.11,5.41,16.45
26,Uttar Pradesh,724050.44,822392.92,940356.43,1011789.66,1137807.94,1288700.23,1439706.45,1582853.12,1710495.80,...,13.58,14.34,7.60,12.45,13.26,11.72,9.94,8.06,0.41,11.22
27,Uttarakhand,115327.57,131612.84,149074.39,161438.92,177163.02,195124.85,220222.13,230284.55,236693.94,...,14.12,13.27,8.29,9.74,10.14,12.86,4.57,2.78,-3.92,NaN
28,West Bengal,520485.05,591464.45,676848.06,718081.66,797299.80,872527.23,974699.78,1102282.75,1207822.61,...,13.64,14.44,6.09,11.03,9.44,11.71,13.09,9.57,7.72,NaN
29,Andaman & Nicobar Islands,3978.43,4421.18,5022.63,5477.22,6031.73,6835.87,7890.41,9003.18,9719.23,...,11.13,13.60,9.05,10.12,13.33,15.43,14.10,7.95,NaN,NaN
30,Chandigarh,18768.15,21608.56,24821.72,26548.56,29275.07,32426.66,36344.35,40139.40,43984.19,...,15.13,14.87,6.96,10.27,10.77,12.08,10.44,9.58,-5.38,NaN
31,Delhi,343797.50,391387.64,443959.89,494803.02,550803.70,616085.06,677900.04,738389.43,794030.05,...,13.84,13.43,11.45,11.32,11.85,10.03,8.92,7.54,-1.09,NaN
33,Puducherry,16818.01,18875.45,21870.12,22573.96,26616.54,29572.66,32128.80,36385.62,37817.95,...,12.23,15.87,3.22,17.91,11.11,8.64,13.25,3.94,-1.62,2.90

We also drop the rows for 'Ladakh', 'Dadra & Nagar Haveli and Daman & Diu' and 'Lakshadweep' which are only found in df_food but not in df_gdp.

In [52]:
df_food = df_food[~df_food['provider_admin1_name'].isin(['Ladakh', 'Dadra & Nagar Haveli and Daman & Diu', 'Lakshadweep'])]

Now that we two clean datasets reporting observations for the same states we can merge the dataframes by the state columns.

In [54]:
df = pd.merge(df_food, df_gdp, left_on="provider_admin1_name", right_on="State/Uts")

And look that the merger went ok.

In [55]:
df

,location_code,has_hrp,in_gho,provider_admin1_name,admin1_code,admin1_name,admin_level,mpi,headcount_ratio,intensity_of_deprivation,...,% Growth2012-13,% Growth2013-14,% Growth2014-15,% Growth2015-16,% Growth2016-17,% Growth2017-18,% Growth2018-19,% Growth2019-20,% Growth2020-21,% Growth2021-22
0,IND,FALSE,FALSE,Andaman & Nicobar Islands,NaN,NaN,1,0.0142,3.6708,38.6353,...,11.13,13.60,9.05,10.12,13.33,15.43,14.10,7.95,NaN,NaN
1,IND,FALSE,FALSE,Andhra Pradesh,NaN,NaN,1,0.0278,7.1138,39.1028,...,8.43,12.85,13.08,15.10,13.27,14.86,11.14,10.57,5.00,18.47
2,IND,FALSE,FALSE,Arunachal Pradesh,NaN,NaN,1,0.0541,13.2061,40.9441,...,13.41,16.22,23.17,3.06,7.53,12.93,12.71,10.08,6.49,NaN
3,IND,FALSE,FALSE,Assam,NaN,NaN,1,0.0899,21.4105,41.9974,...,9.56,13.31,10.11,16.47,11.59,11.31,9.24,22.00,0.95,13.89
4,IND,FALSE,FALSE,Bihar,NaN,NaN,1,0.1544,34.6609,44.5458,...,14.25,12.30,8.15,8.35,13.31,11.33,12.64,12.51,4.14,NaN
5,IND,FALSE,FALSE,Chandigarh,NaN,NaN,1,0.0178,3.9426,45.1799,...,15.13,14.87,6.96,10.27,10.77,12.08,10.44,9.58,-5.38,NaN
6,IND,FALSE,FALSE,Chhattisgarh,NaN,NaN,1,0.0732,17.8848,40.9144,...,12.30,16.52,6.91,1.83,16.72,7.41,12.69,8.44,1.54,NaN
7,IND,FALSE,FALSE,Delhi,NaN,NaN,1,0.0134,3.3543,39.9122,...,13.84,13.43,11.45,11.32,11.85,10.03,8.92,7.54,-1.09,NaN
8,IND,FALSE,FALSE,Goa,NaN,NaN,1,0.0053,1.3938,38.2264,...,-10.02,-5.77,33.11,15.14,14.39,10.12,3.61,4.14,4.69,8.99
9,IND,FALSE,FALSE,Gujarat,NaN,NaN,1,0.059,14.4022,40.9834,...,17.69,11.47,14.13,11.63,13.43,13.87,12.27,9.21,1.61,NaN
10,IND,FALSE,FALSE,Haryana,NaN,NaN,1,0.0298,7.1746,41.5452,...,16.63,15.05,9.49,13.35,13.30,13.79,9.29,9.15,-0.46,18.08
11,IND,FALSE,FALSE,Himachal Pradesh,NaN,NaN,1,0.0204,5.3103,38.3324,...,13.89,14.42,9.51,10.09,9.97,10.28,7.10,7.26,-1.56,11.81
12,IND,FALSE,FALSE,Jharkhand,NaN,NaN,1,0.1318,30.603,43.0699,...,15.77,7.92,15.89,-5.45,14.34,14.21,13.30,5.06,-1.27,NaN
13,IND,FALSE,FALSE,Karnataka,NaN,NaN,1,0.0333,8.4979,39.2263,...,14.75,17.44,11.91,14.36,15.54,10.40,10.74,9.41,7.15,18.39
14,IND,FALSE,FALSE,Kerala,NaN,NaN,1,0.0031,0.8575,35.7243,...,13.26,12.79,10.22,9.64,12.97,10.51,12.36,4.58,-3.01,12.81
15,IND,FALSE,FALSE,Madhya Pradesh,NaN,NaN,1,0.0994,23.9625,41.4887,...,20.71,15.37,9.21,12.74,20.10,11.77,14.42,12.95,4.01,19.74
16,IND,FALSE,FALSE,Maharashtra,NaN,NaN,1,0.0357,8.9881,39.7104,...,14.00,13.02,7.85,10.52,11.80,7.03,9.14,6.49,-0.84,NaN
17,IND,FALSE,FALSE,Manipur,NaN,NaN,1,0.0383,9.6714,39.6491,...,6.42,17.75,12.03,7.73,9.03,21.11,6.20,14.27,8.99,NaN
18,IND,FALSE,FALSE,Meghalaya,NaN,NaN,1,0.123,27.0191,45.5298,...,9.81,4.87,1.29,8.10,9.24,7.54,9.04,7.89,-3.69,12.14
19,IND,FALSE,FALSE,Mizoram,NaN,NaN,1,0.0246,5.7504,42.7607,...,15.20,23.10,31.24,12.06,13.56,12.76,13.03,15.14,15.79,NaN
20,IND,FALSE,FALSE,Nagaland,NaN,NaN,1,0.066,17.0562,38.706,...,15.97,17.64,10.77,6.10,11.26,12.29,8.75,11.63,-0.24,NaN
21,IND,FALSE,FALSE,Odisha,NaN,NaN,1,0.0863,20.8,41.5128,...,13.30,13.29,6.00,4.55,19.56,12.26,13.06,9.59,-0.64,17.58
22,IND,FALSE,FALSE,Puducherry,NaN,NaN,1,0.0052,1.4224,36.6496,...,12.23,15.87,3.22,17.91,11.11,8.64,13.25,3.94,-1.62,2.90
23,IND,FALSE,FALSE,Punjab,NaN,NaN,1,0.0188,4.7077,39.9954,...,11.67,11.56,6.91,9.85,9.46,10.31,8.81,5.41,0.24,10.19
24,IND,FALSE,FALSE,Rajasthan,NaN,NaN,1,0.0679,16.5691,41.0065,...,13.50,11.65,11.73,10.69,11.61,9.46,9.51,9.58,1.43,18.04
25,IND,FALSE,FALSE,Sikkim,NaN,NaN,1,0.014,3.6746,38.1001,...,10.51,12.35,11.14,17.05,14.71,25.54,9.36,8.47,6.22,14.67
26,IND,FALSE,FALSE,Tamil Nadu,NaN,NaN,1,0.0142,3.8376,36.9201,...,13.75,13.30,10.75,9.68,10.72,12.47,11.27,10.25,5.87,14.56
27,IND,FALSE,FALSE,Telangana,NaN,NaN,1,0.0265,6.778,39.1221,...,11.73,12.45,12.02,14.24,13.92,13.93,14.32,10.60,2.25,19.10
28,IND,FALSE,FALSE,Tripura,NaN,NaN,1,0.0635,15.7,40.429,...,12.78,18.14,15.40,21.68,9.86,10.73,13.97,12.11,5.41,16.45
29,IND,FALSE,FALSE,Uttar Pradesh,NaN,NaN,1,0.0983,22.9387,42.833,...,13.58,14.34,7.60,12.45,13.26,11.72,9.94,8.06,0.41,11.22
30,IND,FALSE,FALSE,Uttarakhand,NaN,NaN,1,0.0391,9.811,39.8766,...,14.12,13.27,8.29,9.74,10.14,12.86,4.57,2.78,-3.92,NaN
31,IND,FALSE,FALSE,West Bengal,NaN,NaN,1,0.0607,15.2707,39.7277,...,13.64,14.44,6.09,11.03,9.44,11.71,13.09,9.57,7.72,NaN