<a target="_blank" href="https://colab.research.google.com/github/robgen/HEDSpython/blob/main/Tutorial_3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# **Python Libraries**

A library allows to add more functions (methods) to the basic Python.


The `import` + "library" statement allows to import all the methods in the library every related functions and methods will be called as library.nameOfTheFunction() or library.nameOfTheMethod.

You can import a library with a shortcut name by using the formula `import` + "libarary" + `as` + "name". We will go over an example in a second.

# **Scientific Computation with Numpy**

Numpy is an open source Python library for scientific computing. It is very useful for performing computations in data science (In terms of syntax, it works similarly to Matlab).

We import `numpy` using a name shortcut `np` for it so that we do not have to type "numpy" every time we want to access the library. Instead of `np` you can use any name you want.

In [ ]:
import numpy as np

We use `numpy` to work with arrays. The array object in numpy is called `ndarray` and is created using the `array()` function.

In [ ]:
my_list1 = [15, 16, 17, 18, 19, 20]
my_list2 =[14.3, 0, 8.999]
my_list3 = [0, 2, 3]

You can create one-dimensional arrays from the lists.

In [ ]:
x1 = np.array(my_list1)
x2 = np.array(my_list2)
x3 = np.array(my_list3)

You can add elements to your arrays by using the function `np.append()`.

In [ ]:
x1_new = np.append(x1, [21,22])
print(x1_new)

Be careful, unlike lists, `np.append()` does not add elements to the existing array. You have to create a new variable to store the array containing the new elements.

In [ ]:
print(x1)

You can create arrays in different ways

In [ ]:
a = np.array([1, 2, 3, 4])
print(a)

In [ ]:
b = np.array([(1.5, 2, 3), (4, 5, 6)]) # two-dimensional array
print(b)

In [ ]:
d = np.zeros((3, 4))
print(d)

In [ ]:
e = np.ones((2, 3))
print(e)

In [ ]:
f = np.arange(10, 30, 5) # all numbers between 10 and 30 at intervals of 5
print(f)

In [ ]:
g = np.arange(0.1, 2, 0.3) # all numbers between 0.1 and 2 at intervals of 0.3
print(g)

In [ ]:
h = np.linspace(1, 7, num=5) # five equally-spaced numbers between 1 and 7
print(h)

## **Array attributes**

`.ndim` tells you the number of axes or dimensions

In [ ]:
print(x1.ndim)

`.shape` tells you the size of each dimension

In [ ]:
print(x1.shape)

`.size` tells you the total number of elements in the array

In [ ]:
print(x1.size)

`.dtype` tells you the type of elements in the array

In [ ]:
print(x1.dtype)

## **Accessing elements of an array**

You can access elements in an array using standard indexing.

In [ ]:
# access the first element of the array
print(x1[0])

In [ ]:
# access the last and second to last element of the array
print(x1[-1])
print(x1[-2])

In [ ]:
# access the first two
print(x1[:2])

In [ ]:
# access the last three element
print(x1[-3:])

In [ ]:
# access elements from index 1 to 3
print(x1[1:3])

In [ ]:
# access every other element
print(x1[::2])

You can also reverse an array.

In [ ]:
print(x1[::-1])

Note that reversing works for lists and strings too!

In [ ]:
print("Hello!"[::-1])

## **Array operations**

To multiply each component of the array by a number (scalar)

In [ ]:
y1 = 3*x1

Note that we don't need a for loop. This is much more efficient! Compare with the code below.

In [ ]:
yy1 = []
for x in x1:
   yy1.append(3*x)
print(y1 == yy1)

To add/subtract a number to each component

In [ ]:
print(3+x1)
print(x2-5)

To perform component by component array addition/subtraction.

In [ ]:
print(x2+x3)
print(x3-x2)

Note that arrays must have the same dimension.

In [ ]:
# print(x1-x3)

To preform component by component array multiplication/division/power.

In [ ]:
print(x2*x3)
print(x3/x2)
print(x2**x3)

You can modify existing arrays modify as follows.

To add one to each element

In [ ]:
x2 += 1
print(x2)

Multiply each element by 2.

In [ ]:
x3 *= 2
print(x3)

Note that x2 += 1 is equal to writing x2 = x2 + 1 and x3 *= 2 is equal to writing x3 = x3 * 2.

## **Array methods** - **unary operations: mean, standard deviation, minimum, maximum, sum**

In [ ]:
print(x1.mean())

In [ ]:
print(x1.std())

In [ ]:
print(x1.min())

In [ ]:
print(x1.max())

In [ ]:
print(x1.sum())

You can also access built-in values and methods.

Like the value of pi

In [ ]:
print(np.pi)

Or the value of e (neper number)

In [ ]:
print(np.e)

And perform with them any operation

In [ ]:
x4 = np.pi * np.array([0,0.5,1,1.5,2])
print(x4)

## **Universal functions**

These are applied to each value of an array.

One example is the `np.sin()` function which gives the sin of a each array number.

In [ ]:
y4 = np.sin(x4)
print(y4)

The following are important Numpy functions, we recommend you take a look at them:
`all`, `any`, `apply_along_axis`, `argmax`, `argmin`, `argsort`, `average`, `bincount`, `ceil`, `clip`, `conj`, `corrcoef`, `cov`, `cross`, `cumprod`, `cumsum`, `diff`, `dot`, `floor`, `inner`, `invert`, `lexsort`, `max`, `maximum`, `mean`, `median`, `min`, `minimum`, `nonzero`, `outer`, `prod`, `re`, `round`, `sort`, `std`, `sum`, `trace`, `transpose`, `var`, `vdot`, `vectorize`, `where`.

To look at the documentation (highly recommended in this case) you can visit https://numpy.org/learn/ or use `help(numpy)`.

## **Two-dimentional arrays**

Arrays can have more than one dimension. Here are some examples of two-dimensional arrays.

In [ ]:
X1 = np.array([[11, 12, 13], [21, 22, 23], [31, 32, 33]]) # only integers
print(X1)

In [ ]:
X2 = np.array([[14.3, 0.2, 8.999, 11], [3, 5, 1, 4]]) # floats and integers
print(X2)

In [ ]:
X3 = np.array([[31, 32, 33], [21, 22, 23], [11, 12, 13]])
print(X3)

Note that all the lists composing the array (i.e., the items inside the square brackets) have to be contain the same number of items.

You can access shape and size the same way as for one-dimensional arrays. Try this in the cell below.

In [ ]:
# access shape and size of array X2
X2.shape
X2.size

Accessing elements in a two-dimensional array is slightly different than in one-dimensional ones.

You can access rows in the array by indexing over it.

In [ ]:
print(X2[0]) # first row

In [ ]:
print(X2[-1]) # last row

To access columns you use

In [ ]:
print(X2[:,0]) # first column

In [ ]:
print(X2[:,-1]) # last column

You can access specific elements by specifying their positioning in the array. The first index corresponds to the row, the second to the column.

In [ ]:
print(X2[1,2]) # access the element at the second row, third column

In [ ]:
print(X2[0,-2:]) # access the last 2 elements of the first row

Note: the notation `X2[1,2]` is equivalent to `X2[1][2]`. Try it in the console.

In [ ]:
print(X2[1,2])
print(X2[1][2])

You can  perform array operations the same way as for one-dimensional arrays.

Try to multiply each component of the array by 3 (scalar) in the cell below.

In [ ]:
# write your code here

Compare with the code below. We could also do this with a for loop, but look how complicated...

In [ ]:
YY2 = []
for i in [0, 1]:
  YY2.append([])
  for j in [0, 1, 2, 3]:
    YY2[i].append(3*X2[i][j])
print(Y2 == YY2)

Try to add/subtract a number to each component.

In [ ]:
# add and subtract any number from an array
print(3+X1)
print(X2-5)

Try perform component by component array addition/subtraction. As per one-dimensional arrays, note that arrays must have the same dimension.

In [ ]:
# add and subtract two
print(X1+X3)
print(X3-X1)

Try to perform component by component array multiplication/division/power

In [ ]:
# multiply, divide and exponentiate an array by another
print(X1*X3)
print(X1/X3)
print(X3**X1)

Also array methods are the same as for one-dimensional array, just they operate on the entire array.

In [ ]:
# access mean, standard deviation, sum, minimum and maximum values of an array.
print(X1.mean())
print(X1.std())
print(X1.min())
print(X1.max())
print(X1.sum())

If you want this to apply at the row or column level you have to select the row or column first.

In [ ]:
print(X1[0].mean())
print(X1[:,0].mean())

Numpy arrays can have an arbitrary number of dimensions.

In [ ]:
array3D = np.array([[[2,17], [45, 78]], [[88, 92], [60, 76]],[[76,33],[20,18]]])
print(array3D)

## **Gini Index Practice Example**

To refresh your knowledge about the Gini Index visit http://www.statsdirect.com/help/default.htm#nonparametric_methods/gini.htm.

Always start with importing relevant libraries

In [ ]:
import numpy as np

Create a function that calculates the Gini coefficient of an array of values using the formula below.

![Screenshot 2024-01-16 at 10.11.01.png]()

Define a function called calculateGini() that calculates the Gini coefficient for a given list of incomes X. Calculate the Gini coefficient for a small population of thee individuals having incomes 1200, 600 and 5000 using the defined function

In [ ]:
# write your code here

Now let's create a population sample of 25000 individuals and calculate the Gini coefficient for them.

In [ ]:
Npoints = 25000
pop = np.ones([Npoints,1])

Note that in this population all people have the same income 1. Now try to run the function defined above for this population.

In [ ]:
# write your code here

As you may have noticed, the code is taking a long time to compute the coefficient - this si because concatenating loops is not very computationally efficient.

Using numpy can make this function much more efficient. Here is a more efficient way to compute the Gini coefficient.

In [ ]:
def get_gini(array):
    array = array.ravel()
    n = array.shape[0] # our sample size

    array_diff = np.abs(np.subtract.outer(array, array)) # absolute difference between each pair of x
    nominator = array_diff.sum()

    xbar = array.mean() # average value of x
    denominator = 2 * n * (n - 1) * xbar

    gini_index = nominator / denominator
    return gini_index

Now can get the Gini Index for the larger population using the new function.

In [ ]:
gini1 = get_gini(pop)
print(gini1)

### **Matplotlib**

Using the `pyplot` from the `matplotlib` library you can create a histogram of the data (for more information on `matplotlib` you can visit https://matplotlib.org/stable/index.html). (More on this in the upcoming tutorials!)

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.figure(dpi=200) # dpi indicates the figure's resolution
plt.hist(pop, bins=20)
plt.xlabel("Income [-]")
plt.ylabel("Number of people [-]")
plt.title("Gini: %.4f" %(gini1)) # here we are using a f-string to add the computed Gini coefficient
plt.show()

Let's compute the Gini Index for other, more meaningful, populations (distributions).

In [ ]:
populations = {
    'Flat': 5*np.ones([int(Npoints/3),1]),
    'Uniform': np.random.uniform(low=0, high=15, size=Npoints),
    'Normal': np.random.normal(loc=5, scale=2, size=Npoints),
    'Exponential': np.random.exponential(scale=1, size=Npoints),
    'Gamma': np.random.gamma(2, 2, Npoints),
    'Beta': np.random.beta(0.5, 0.5, Npoints),
    }

In [ ]:
plt.figure(dpi=200)
for pop in populations:
    gini = get_gini(populations[pop])
    plt.hist(populations[pop], bins=20, label="%s: %.4f" %(pop,gini),
             alpha=0.4)

plt.legend()
plt.xlabel("Income [-]")
plt.ylabel("Number of people [-]")
plt.show()

Look in the "files" folder for the by-hand example.

Additional resources with practical exercises:
Python basics: https://www.codecademy.com/learn/learn-python-3
Numpy: https://www.codecademy.com/learn/intro-statistics-numpy